<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>会員情報編集</h2>
      <br>
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table class="table">
        	<tbody>
        		<tr>
        			<td>名前</td>
        			<td>(姓)</td>
        			<td><%= f.text_field :last_name, autofocus: true, class: "new_inform" %></td>
        			<td>(名)</td>
        			<td><%= f.text_field :first_name, class: "new_inform" %></td>
        		</tr>
        		<tr>
        			<td>フリガナ</td>
        			<td>(セイ)</td>
        			<td><%= f.text_field :last_name_kana, class: "new_inform" %></td>
        			<td>(メイ)</td>
        			<td><%= f.text_field :first_name_kana, class: "new_inform" %></td>
        		</tr>
        		<tr>
        			<td>メールアドレス</td>
        			<td></td>
        			<td><%= f.email_field :email, class: "new_inform" %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>郵便番号（ハイフンなし）</td>
        			<td></td>
        			<td><%= f.text_field :postal_code, class: "new_inform" %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>住所</td>
        			<td></td>
        			<td><%= f.text_field :address, class: "new_inform" %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>電話番号（ハイフンなし）</td>
        			<td></td>
        			<td><%= f.text_field :telephone_number, class: "new_inform" %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>パスワード（６文字以上）</td>
        			<td></td>
        			<td><%= f.password_field :password %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>パスワード（確認用）</td>
        			<td></td>
        			<td><%= f.password_field :password_confirmation %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        		  <td></td>
        		  <td></td>
        		  <td><%= f.submit "新規登録" %></td>
        		  <td></td>
        		  <td></td>
        		</tr>
        	</tbody>
        </table>
      <% end %>
      <br>
      <h3>既に登録済みの方</h3>
      <p>
        <%= link_to "こちら", new_customer_session_path %>
        <!--%= render "public/shared/links" %-->
        からログインしてください。
      </p>
    </div>
  </div>
</div>