<style type="text/css">

.pb20{
  padding-bottom: 20px;
}

input[type="text"]{
  width: 250px;
}

textarea{
  width: 250px;
  height: 150px;
}

input[type="submit"]{
  display       : inline-block;
  border-radius : 5%;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #00b300;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid #00b300;
}

.select{
  width: 250px;
}


</style>

<div class="container">
  <h2 class=>商品新規登録</h2>
  <!--以下０７ viewファイル（_common）より引用-->
  <div class="row">
    <%= form_with model:@item, url: admin_items_path, local:true do |f| %>
      <% if @item.errors.any? %>
       <h2><%= @item.errors.count %>error prohibited this goods from being created:</h2>
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="col-xs-6 col-xs-offset-3">
        <table class ="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th>商品画像</th>
              <td><%= f.attachment_field :image, {class: "attachment_field" }  %></td>
            </tr>
            <tr>
              <th>商品名</th>
              <td><%= f.text_field :name, :placeholder => "商品名" %></td>
            </tr>
            <tr>
              <th>商品説明</th>
              <td><%= f.text_area :introduction, :placeholder => "ここに説明文を記述します" %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td>
                <div class="form-group">
                  <%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] },  { include_blank: '選択してください'}, { class: 'select' , required: true }  %>
                </div>
              </td>
            </tr>
            <tr>
              <th>税抜価格</th>
              <td><%= f.text_field :price, :placeholder => "1000" %>円</td>
            </tr>
            <tr>
              <th>販売ステータス</th>
              <td>
                <%= f.radio_button :is_active, :true %>販売中
                <%= f.radio_button :is_active, :false %>販売停止中
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-offset-5 col-xs-4">
        <%= f.submit "新規登録"%>
      </div>
    <% end %>
  </div>
</div>

