<style>


  th, td{
    font-size: 20px;
  }

  .edit-btn{
      display       : inline-block;
      border-radius : 5%;          /* 角丸       */
      font-size     : 15pt;        /* 文字サイズ */
      text-align    : center;      /* 文字位置   */
      cursor        : pointer;     /* カーソル   */
      padding       : 17px 35px;   /* 余白       */
      background    : #00b300;     /* 背景色     */
      color         : #ffffff;     /* 文字色     */
      line-height   : 1em;         /* 1行の高さ  */
      transition    : .3s;         /* なめらか変化 */
      border        : 2px solid #00b300;    /* 枠の指定 */
      margin-top: 20px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>商品詳細</h2>
    </div>
    <div class="col-xs-4">
      <%= attachment_image_tag @item, :image, :fill, 70, 70, format: 'jpg', class: " pull-left profile-img", fallback: "no_image.jpg", size:'250x200' %>
    </div>
    <div class="col-xs-8">
      <table class="table ">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th >商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @genre %></td>
          </tr>
          <tr>
            <th>税込価格<br>（税抜価格）</th>
            <td><%= @addTax.floor.to_s(:delimited, delimiter: ',') %>（<%= @item.price.to_s(:delimited, delimiter: ',') %>）円</td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td class="text-success">
              <% if @item.is_active == true %>
                販売中
              <% else %>
                販売停止中
              <% end %>
            </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-offset-5 col-xs-4">
      <div>
        <%= link_to "編集する", edit_admin_item_path(@item), {class: "edit-btn"} %>
      </div>
    </div>
  </div>
</div>