<style>
  input[type="submit"]{
  display       : inline-block;
  border-radius : 5%;
  font-size     : 11pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 21px;
  background    : #007fff;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid #007fff;
}
</style>

<div class="container">
  <h2>管理者ログイン</h2>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <tbody>
            <tr>
              <td class = "pb-30 pr-30"><%= f.label :メールアドレス %></td>
              <td class ="pb-30"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
              <td class ="pb-30"><%= f.label :パスワード %></td>
              <td class ="pb-30"><%= f.password_field :password, autocomplete: "current-password" %></td>
            </tr>
            <tr>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "ログイン" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
    </div>
  </div>
</div>