<style>
.topimage{
  -ms-filter: blur(6px);
  filter: blur(6px);
}

.image{
  margin-right: 90px;
}

.all-items-link{
  float: right;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #00b300;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #00b300;    /* 枠の指定 */
}
</style>


<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-8">
      <div style="position: relative; display:inline-block;" class="topimage">
        <%= image_tag "ケーキ.jpg", width: '70%', height: '40%', class: "topimage"%>
      </div>
      <div style="position: absolute; top: 0%; left: 0; max-width: 100%; max-height: 100px; padding: 170px 50px; text-align: center; color: white; font-size: 20px">
        <p> ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない⽅も商品の閲覧はできますが、<br>
            購⼊には会員登録が必要になります。
        </p>
      </div>
    </div>
    <div class="col-xs-offset-1 col-xs-11">
      <h2>新着商品</h2>
      <table>
        <tbody>
          <tr>
            <% @new_items.each do |new_item| %>
              <td><%= attachment_image_tag new_item, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'150x150', class: "items" %></td>
            <% end %>
          <tr>
            <% @new_items.each do |new_item| %>
              <td><%= new_item.name %></td>
            <% end %>
          </tr>
          <tr>
            <% @new_items.each do |new_item| %>
              <td>¥<%= (new_item.price).to_s(:delimited, delimiter: ',') %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
        <%= link_to "全ての商品を見る", public_items_path, {class: "all-items-link"} %>
    </div>
  </div>
</div>