<style>
.edit-complete-btn {
  display       : inline-block;
  border-radius : 9%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #00b300;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 7px #666666;  /* 影の設定 */
  border        : 2px solid #00b300;    /* 枠の指定 */
  margin-left: 300px;
}
.edit-complete-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #00b300;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <h2> <%= @customer.last_name + @customer.first_name %> さんの会員情報編集</h2>
      <br>
      <%= form_with model:@customer, url: admin_customer_path, local:true do |f| %>
        <table class="table">
        	<tbody>
        	  <tr>
        			<td>会員ID</td>
        			<td><%= @customer.id %></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>氏名</td>
        			<td><%= f.text_field :last_name, autofocus: true %></td>
        			<td><%= f.text_field :first_name %></td>
        		</tr>
        		<tr>
        			<td>フリガナ</td>
        			<td><%= f.text_field :last_name_kana %></td>
        			<td><%= f.text_field :first_name_kana %></td>
        		</tr>
        		<tr>
        			<td>郵便番号</td>
        			<td><%= f.text_field :postal_code %></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>住所</td>
        			<td><%= f.text_field :address %></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>電話番号</td>
        			<td><%= f.text_field :telephone_number %></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>メールアドレス</td>
        			<td><%= f.email_field :email, class: "new_inform" %></td>
        			<td></td>
        		</tr>
        		<tr>
        		  <td>会員ステータス</td>
        		  <td>
        		    <%= f.radio_button :is_deleted, :false %>有効
        		    <%= f.radio_button :is_deleted, :true %>退会
        		  </td>
        		  <td></td>
        		  <td></td>
        		</tr>
        	</tbody>
        </table>
        <%= f.submit "変更を保存", class: "edit-complete-btn" %>
      <% end %>
    </div>
  </div>
</div>
