<style>
	.deleted-false{
		color: #009900;
	}

	.deleted-true{
		color: #AAAAAA;
	}
</style>


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>会員一覧</h2>
			<table class="table">
				<thead>
					<tr class ="active">
						<th>会員ID</th>
						<th>氏名</th>
						<th>メールアドレス</th>
						<th>ステータス</th>
					</tr>
				</thead>
				<tbody>
				   <% @customers.each do |customer| %>
			  		<tr>
			  			<td><%= customer.id %></td>
			  			<td>
			  			  <%= link_to admin_customer_path(customer) do %>
			  			    <%= customer.last_name + customer.first_name %>
			  			  <% end %>
			  			</td>
			  			<td><%= customer.email %></td>
			  				<% if customer.is_deleted == false %>
			  					<td class = "deleted-false">有効</td>
			  				<% elsif customer.is_deleted == true %>
			  					<td class = "deleted-true">退会</td>
			  				<% end %>
			  		</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-xs-offset-5 col-xs-4">
    	<div><%= paginate @customers %></div>
  	</div>
	</div>
</div>