<h2>会員一覧</h2>
<table class="table">
	<thead>
		<tr class ="active">
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
	   <% @customers.each do |custmers| %>
  		<tr>
  			<td><%= @customers.id %></td>
  			<td>
  			  <%= link_to admins_end_user_path do %>
  			    <%= @name %>
  			  <% end %>
  			</td>
  			<td><%= @customers.address %></td>
  			<td><%= @customers.is_deleted %></td>
  		</tr>
		<% end %>
	</tbody>
</table>