<div class="container">
  <div class="row">
    <div class="col-xs-10">
    	<% if flash[:notice] %>
    		<%= flash[:notice] %>
 			<% end %>
      <h2>配送先登録/一覧</h2>
      <%= form_with model:@address, url: public_addresses_path, local:true do |f| %>
	      <table class="table">
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>郵便番号（ハイフンなし）</td>
							<td><%= f.text_field :postal_code %></td>
						</tr>
						<tr>
							<td>住所</td>
							<td><%= f.text_field :address %></td>
						</tr>
						<tr>
							<td>宛名</td>
							<td><%= f.text_field :name %></td>
							<td><%= f.submit "新規登録" %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
			<table class="table table-bordered">
				<thead>
					<tr class = "active">
						<th>郵便番号</th>
						<th>住所</th>
						<th>宛名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @addresses.each do |address| %>
						<tr>
							<th><%= address.postal_code %></th>
							<td><%= address.address %></td>
							<td><%= address.name %></td>
							<td>
								<%= link_to "編集する", edit_public_address_path(address) %>
								<%= link_to "削除する", public_address_path(address), method: :delete %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
    </div>
  </div>
</div>