<div class="container">
  <h3 class="pb20">商品新規登録</h3>
  <!--以下０７ viewファイル（_common）より引用-->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= form_with model:@items, local:true do |f| %>
        <% if @items.errors.any? %>
         <h2><%= @items.errors.count %>error prohibited this goods from being created:</h2>
          <ul>
            <% @items.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="row">商品画像</th>
              <td><%= f.attachment_field :image %></td>
            </tr>
            <tr>
              <th scope="row">商品名</th>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <th scope="row">商品説明</th>
              <td><%= f.text_area :introduction %></td>
            </tr>
            <tr>
              <th scope="row">ジャンル</th>
              <td>
                <select name=”month”>
                  <option value=”non”>-- 選択してください --</option>
                  <option value=”jan”>1月</option>
                  <option value=”feb”>2月</option>
                  <option value=”mar”>3月</option>
                  <option value=”apr”>4月</option>
                  <option value=”may”>5月</option>
                  <option value=”jun”>6月</option>
                  <option value=”jul”>7月</option>
                  <option value=”aug”>8月</option>
                  <option value=”sep”>9月</option>
                  <option value=”oct”>10月</option>
                  <option value=”nov”>11月</option>
                  <option value=”dec”>12月</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">税抜価格</th>
              <td><%= f.text_field :price %>円</td>
            </tr>
            <tr>
              <th scope="row">販売ステータス</th>
              <td>
                <%= f.radio_button :is_active, :true %>販売中
                <%= f.radio_button :is_active, :false %>販売停止中
              </td>
            </tr>
          </tbody>
        </table>
        <!--%= link_to admins_good_path do %-->
        <!--  <button type="button" class="btn btn-default w-100 " aria-label="Left Align"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>-->
        <!--% end %-->
      <% end %>
    </div>
  </div>
</div>

