<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h2>商品詳細</h2>
      <%= attachment_image_tag @item, :image, :fill, 70, 70, format: 'jpeg', class: " pull-left profile-img", fallback: "no_image.jpg", size:'200x200' %>
    </div>
    <div class="col-xs-8">
      <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="row">商品名</th>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <th scope="row">商品説明</th>
              <td><%= @item.introduction %></td>
            </tr>
            <tr>
              <th scope="row">ジャンル</th>
              <td><%= @genre.name %></td>
            </tr>
            <tr>
              <th scope="row">税込価格<br>（税抜価格）</th>
              <td><%= @addTax.floor %>（<%= @item.price %>）円</td>
            </tr>
            <tr>
              <th scope="row">販売ステータス</th>
              <td class="text-success">
                <% if @item.is_active == true %>
                  販売中
                <% else %>
                  販売停止中
                <% end %>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <%= link_to "編集する", edit_admins_good_path %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>