<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "カートを空にする", destroy_all_public_cart_items_path(@cart_items), method: :delete, data: {confirm: "本当に消しますか？" } %>
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% sum = 0 %>
          <% @cart_items.each do |cart_item| %>
            <% sum += (cart_item.item.price * cart_item.amount) * @addTax %>
            <tr>
              <td>
                <%= attachment_image_tag cart_item.item, :image, :fill, 70, 70, format: 'jpeg', class: " pull-left profile-img", fallback: "no_image.jpg", size:'40x40' %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= number_with_delimiter((cart_item.item.price * @addTax).floor) %>
              </td>
              <td>
                <%= form_with model:@cart_items, url: public_cart_item_path(cart_item), method: :patch, local:true do |f| %>
                  <%= f.number_field :amount, :value => cart_item.amount %>
                  <%= f.submit "変更"%>
                <% end %>
              </td>
              <td>
                <%= number_with_delimiter(((cart_item.item.price * @addTax) * cart_item.amount).floor) %>
              </td>
              <td><%= link_to "削除する", public_cart_item_path(cart_item), method: :delete, data: {confirm: "本当に消しますか？" }%></td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <%= link_to "買い物を続ける", new_public_order_path %>
      <table>
        <thead>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>合計金額</td>
            <td><%= number_with_delimiter(sum.floor) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>