<style>
  .registration-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 29px;   /* 余白       */
  background    : #00b300;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #00b300;    /* 枠の指定 */
}
.registration-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #00b300;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-11">
      <h2>新規会員登録</h2>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <!--%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>-->
        <%= render "public/shared/error_messages", resource: resource %>
        <table class="table">
        	<tbody>
        		<tr>
        			<td>名前</td>
        			<td>(姓)</td>
        			<td><%= f.text_field :last_name, autofocus: true, placeholder: "令和" %></td>
        			<td>(名)</td>
        			<td><%= f.text_field :first_name, placeholder: "道子" %></td>
        		</tr>
        		<tr>
        			<td>フリガナ</td>
        			<td>(セイ)</td>
        			<td><%= f.text_field :last_name_kana, placeholder: "レイワ" %></td>
        			<td>(メイ)</td>
        			<td><%= f.text_field :first_name_kana, placeholder: "ミチコ" %></td>
        		</tr>
        		<tr>
        			<td>メールアドレス</td>
        			<td></td>
        			<td><%= f.email_field :email, placeholder: "sample@example.com" %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>郵便番号（ハイフンなし）</td>
        			<td></td>
        			<td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>住所</td>
        			<td></td>
        			<td class ="new-address"><%= f.text_field :address, placeholder: "東京都渋⾕区代々⽊神園町0-0", :size => "60" %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>電話番号（ハイフンなし）</td>
        			<td></td>
        			<td><%= f.text_field :telephone_number, placeholder: "0000000000" %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>パスワード（６文字以上）</td>
        			<td></td>
        			<td><%= f.password_field :password %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        			<td>パスワード（確認用）</td>
        			<td></td>
        			<td><%= f.password_field :password_confirmation %></td>
        			<td></td>
        			<td></td>
        		</tr>
        		<tr>
        		  <td></td>
        		  <td></td>
        		  <td><%= f.submit "新規登録", class: "registration-btn" %></td>
        		  <td></td>
        		  <td></td>
        		</tr>
        	</tbody>
        </table>
      <% end %>
      <br>
      <h2>既に登録済みの方</h2>
      <p>
        <%= link_to "こちら", new_customer_session_path %>
        <!--%= render "public/shared/links" %-->
        からログインしてください。
      </p>
    </div>
  </div>
</div>