<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>注文情報入力</h2>
      <%= form_with model:Order, url: public_orders_path, local:true do |f| %>

      <h3>支払い方法</h3>
        <div><%= f.radio_button :payment_method, 0 %> クレジットカード</div>
        <div><%= f.radio_button :payment_method, 1 %> 銀行振込</div>
      <h3>お届け先</h3>
        <div>
          <%= f.radio_button :address, current_customer %>
          <%= @order.postal_code %>
          <!--%= f.label :address, {value: :current_customer.order.address, style: "display: inline-block;"} %>-->
        </div>
        <div></div>
      <% end %>

    </div>
  </div>
</div>