<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>ログイン</h2><br>
      <p>会員の方はこちらからログイン</p><br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table">
        	<tbody>
        		<tr>
        		  <td></td>
        			<td></td>
        			<td>メールアドレス</td>
        			<td><%= f.email_field :email, class: "new_inform" %></td>
        		</tr>
        		<tr>
        		  <td></td>
        			<td></td>
        			<td>パスワード</td>
        			<td><%= f.password_field :password, autocomplete: "new-password" %></td>
        		</tr>
        		<tr>
        		  <td></td>
        			<td></td>
        		  <td></td>
        		  <td><%= f.submit "ログイン" %></td>
        		</tr>
        	</tbody>
        </table>

        <!--% if devise_mapping.rememberable? %>-->
        <!--  <div class="field">-->
        <!--    %= f.check_box :remember_me %>-->
        <!--    %= f.label :remember_me %>-->
        <!--  </div>-->
        <!--% end %>-->
      <% end %>

      <!--%= render "public/shared/links" %>-->
      <p>会員登録がお済みでない方</p>
      <p>
        <%= link_to "こちら", new_customer_registration_path %>
        から新規登録を行ってください。
      </p>
    </div>
  </div>
</div>