<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>商品一覧（全<%= @itemAmount %>件）</h1><br>
      <% @items.each do |item| %>
        <%= link_to public_item_path(item) do %>
          <%= attachment_image_tag item, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %></td><br>
        <% end %>
        <%= item.name %><br>
        ¥<%= item.price %><br>
      <% end %>
    </div>
  </div>
</div>