<style>
  input[type="number"]{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin-right: 30px;
  }

  .into-cart-btn{
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #00b300;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #00b300;    /* 枠の指定 */
}
.into-cart-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #00b300;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-3">
      <%= attachment_image_tag @item, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'250x200' %></td>
    </div>
    <div class="col-xs-5">
      <h1><%= @item.name %></h1>
      <h3><%= @item.introduction %></h3>
      <br>
      <br>
      <h3>¥<%= (@item.price).to_s(:delimited, delimiter: ',') %>（税込）</h3>
      <div class="form-group">
        <%= form_with model:@cart_items, url: {controller: 'cart_items', action: 'create' }, local:true do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.hidden_field :customer_id, value: @customer.id %>
          <%= f.number_field :amount, placeholder: "個数選択" %>
          <%= f.submit "カートに入れる", class: "into-cart-btn"%>
        <% end %>
      </div>
    </div>
  </div>
</div>