<!DOCTYPE html>
<html>
  <head>
    <title>DwcWebAppDev2AssignmentBookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container container-fluid">
        <div class="navbar-left">
    		  Logo
    		</div>
    
    <% if customer_signed_in? %>
    			<div class ="navbar-text navbar-right">
    			  <%= link_to('マイページ', public_customer_path(@customer),  {class: "navbar-link glyphicon glyphicon-home"}) %>
    			  <%= link_to('商品一覧', public_items_path,  {class: "navbar-link　glyphicon glyphicon-user"}) %>
    			  <%= link_to('カート', public_cart_items_path,  {class: "navbar-link　glyphicon glyphicon-book"}) %>
    			  <%= link_to('ログアウト', destroy_customer_session_path,  {method: :delete, class: "navbar-link glyphicon glyphicon-share"}) %>
      		</div>
      	<% else %>
    		  <div class ="navbar-text navbar-right">
    		    <%= link_to('About', root_path, {class: "navbar-link glyphico glyphicon-home"}) %>
    			  <%= link_to('商品一覧', public_items_path, {class: "navbar-link glyphicon glyphicon-link"}) %>
    			  <%= link_to('新規登録', new_customer_registration_path, {class: "navbar-link glyphicon glyphicon-edit"}) %>
    			  <%= link_to('ログイン', new_customer_session_path, {class: "navbar-link glyphicon glyphicon-share" }) %>
    			</div>
    		<% end %>
      </div>
    </nav>


    <%= yield %>


      <footer>

      </footer>

  </body>
</html>